/*全局通用样式*/


/*@charset "utf-8";*/


/* CSS Document */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}


body>a{
    display: none;
}

table {
    border-collapse: collapse;
    /*让表格边框细线*/
    border-spacing: 0;
    /*清除边框间距*/
}

fieldset,
img {
    border: 0 none;
    /*有些浏览器默认这些标签有边框，所以要清除默认边框*/
}

address,
caption,
cite,
code,
dfn,
em,
i,
u,
b,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
    /*清除标签默认文本样式和加粗*/
}

input,
textarea,
select {
    outline: 0 none;
    /*去掉文本框的默认轮廓线*/
}

input:focus {
    outline: none;
}

ol,
ul {
    list-style: none;
    /*清除列表默认样式*/
}

caption,
th {
    text-align: left;
    /*清除标签默认文本居中对齐*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
    /*清除标题标签的默认样式*/
}

a {
    text-decoration: none;
    /*大部分页面中的链接没有下划线*/
}


/*通用类名*/

.clear {
    display: block !important;
    clear: both !important;
    float: none !important;
    margin: 0 !important;
    padding: 0 !important;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}
html,
body {
    height: 100%;
    width: 100%;
    line-height: 1;
    background: black;
}
